<h2 class="mb-4">Change password</h2>

<form [formGroup]="form">
    <div class="mb-4">
        <label for="input-old-password">Old password</label>
        <input id="input-old-password" type="password" class="form-control"
            autocomplete="current-password"
            [formControl]="form.controls.oldPassword"
            [class.is-invalid]="!!invalidFeedback.oldPassword">
        <div class="invalid-feedback" aria-live="polite">
            {{invalidFeedback.oldPassword}}
        </div>
    </div>
    <div class="mb-4">
        <label for="input-new-password-1">New password</label>
        <input id="input-new-password-1" type="password" class="form-control"
            autocomplete="new-password"
            [formControl]="form.controls.newPassword1"
            [class.is-invalid]="!!invalidFeedback.newPassword1">
        <div class="invalid-feedback" aria-live="polite">
            {{invalidFeedback.newPassword1}}
        </div>
    </div>
    <div class="mb-4">
        <label for="input-new-password-2">Repeat new password</label>
        <input id="input-new-password-2" type="password" class="form-control"
            autocomplete="new-password"
            [formControl]="form.controls.newPassword2"
            [class.is-invalid]="!!invalidFeedback.newPassword2">
        <div class="invalid-feedback" aria-live="polite">
            {{invalidFeedback.newPassword2}}
        </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="submit()">
        <fa-icon [icon]="formIcons.confirm" />
        Save new password
    </button>
    <div aria-live="polite">
        <div class="alert alert-success mt-3" [hidden]="!successFeedback">
            <p class="mb-0">
                {{successFeedback}}
            </p>
        </div>
    </div>
</form>
