@if (pageIndices.length>1) {
  <div class="nav-buttons">
    <button id="prevButton" class="btn is-small" (click)="prevPage()"
      aria-label="previous page">
      <fa-icon [icon]="scanIcons.prev" aria-hidden="true"></fa-icon>
    </button>
    @for (pageNumber of buttonArray; track pageNumber) {
      <button class="btn is-small" iaToggleButton [active]="pageNumber===page"
        (click)="goToPage(pageNumber)">
        {{pageNumber}}
      </button>
    }
    <button id="nextButton" class="btn is-small" (click)="nextPage()"
      aria-label="next page">
      <fa-icon [icon]="scanIcons.next" aria-hidden="true"></fa-icon>
    </button>
  </div>
}
