<div class="hstack">
    @if (manualPage) {
        <button class="btn btn-body" aria-label="help" (click)="showHelp()">
            <fa-icon [icon]="actionIcons.helpAlt" aria-hidden="true"></fa-icon>
        </button>
    }
    @if (!tableView) {
        <div class="ms-auto hstack">
            @if (!tableView) {
                <ia-palette-select (paletteChanged)="palette.next($event)"></ia-palette-select>
            }
            @if (!tableView && chartElementID) {
                @if (!tableView) {
                    <button class="btn btn-body ms-2" (click)="onRequestImage()">
                        <fa-icon [icon]="actionIcons.download" aria-hidden="true"></fa-icon>
                        Download visualization
                    </button>
                }
            }
        </div>
    }
</div>
