<div class="level">
  <div class="level-left">
    @if (manualPage) {
      <div class="level-item">
        <button class="btn btn-body" (click)="showHelp()">
          <span >
            <fa-icon [icon]="actionIcons.helpAlt" aria-label="help"></fa-icon>
          </span>
        </button>
      </div>
    }
  </div>
  @if (!tableView) {
    <div class="level-right">
      @if (!freqtable) {
        <div class="level-item">
          <ia-palette-select (paletteChanged)="palette.next($event)"></ia-palette-select>
        </div>
      }
      @if (!tableView && chartElementID) {
        <div class="level-item">
          @if (!freqtable) {
            <button class="btn download-button" (click)="onRequestImage()">
              <span >
                <fa-icon [icon]="actionIcons.download" aria-hidden="true"></fa-icon>
              </span>
              <span>Download visualization</span>
            </button>
          }
        </div>
      }
    </div>
  }
</div>


