<div class="notifications">
  @for (notification of notifications; track notification) {
    <div class="notification {{notification.class}}"
      [ngClass]="{'fade-out': notification.fadeOut}">
      @if (notification.canDelete) {
        <button class="delete" (click)="remove(notification)"></button>
      }
      <div class="content">
        <p>{{notification.message}}</p>
        @if (notification.link) {
          <p>
            <a [routerLink]="notification.link.route">{{notification.link.text}}</a>
          </p>
        }
      </div>
    </div>
  }
</div>
