<div class="toast-container position-fixed bottom-0 end-0 p-3">
    @for (notification of notifications; track notification) {
        <ngb-toast [delay]="defaultTimeout" (hidden)="remove(notification)"
            [class]="notification.class">
            <button type="button" class="btn-close float-end"
                (click)="remove(notification)" aria-label="Close"></button>
            <p class="mb-0">
                {{notification.message}}
                @if (notification.link) {
                    <br>
                    <a [routerLink]="notification.link.route">{{notification.link.text}}</a>
                }
            </p>
        </ngb-toast>
    }
</div>
