@if (filter) {
  <fieldset class="box filter-container"
    [class.on]="filter.state$.value.active">
    <legend class="form-label" id="legend-filter-{{filter.displayName | slugify}}">
      {{ filter.displayName }}
    </legend>
    <div class="input-group mb-3" style="float:right">
      <div class="control">
        @if (filter.description?.length) {
          <span
            iaBalloon="{{ filter.description }}"
            iaBalloonPosition="up-left"
            iaBalloonLength="medium">
            <fa-icon [icon]="actionIcons.tooltip" aria-hidden="true" />
          </span>
        }
        @if ((filter.isDefault$ | async) === false) {
          <button
            class="btn icon is-ghost"
            type="button"
            (click)="filter.reset()" iaBalloon="Reset this filter to its default values"
            iaBalloonPosition="down-left">
            <fa-icon [icon]="filterIcons.clear" aria-hidden="true"></fa-icon>
          </button>
        }
        @if ((filter.isDefault$ | async) === false) {
          <button
            class="btn is-ghost icon"
            type="button"
            (click)="filter.toggle()"
            iaBalloon="{{filter.state$.value.active ? 'Disable this filter' : 'Enable this filter'}}"
            iaBalloonPosition="down-left">
            <fa-icon [icon]="filterIcons.toggle" aria-hidden="true"></fa-icon>
          </button>
        }
      </div>
    </div>
    <div class="my-3" class="filter-control">
      @if (filter.adHoc) {
        <ia-ad-hoc-filter [filter]="filter" [queryModel]="queryModel"></ia-ad-hoc-filter>
      }
      @if (!filter.adHoc) {
        @switch (filter.filterType) {
          @case ('BooleanFilter') {
            <ia-boolean-filter [filter]="filter" [queryModel]="queryModel"></ia-boolean-filter>
          }
          @case ('DateFilter') {
            <ia-date-filter [filter]="filter" [queryModel]="queryModel"></ia-date-filter>
          }
          @case ('MultipleChoiceFilter') {
            <ia-multiple-choice-filter [filter]="filter" [queryModel]="queryModel"></ia-multiple-choice-filter>
          }
          @case ('RangeFilter') {
            <ia-range-filter [filter]="filter" [queryModel]="queryModel"></ia-range-filter>
          }
          @case ('TagFilter') {
            <ia-tag-filter [filter]="filter" [queryModel]="queryModel"></ia-tag-filter>
          }
        }
      }
    </div>
  </fieldset>
}
