@if (filter) {
    @let legendID = 'legend-filter-' + (filter.displayName | slugify);
    <fieldset class="border rounded p-3"
        [class.border-primary-subtle]="filter.state$.value.active"
        [attr.aria-labelledby]="legendID">
    <div class="row mb-3">
        <legend class="col form-label" [id]="legendID">
          {{ filter.displayName }}
        </legend>
        <div class="d-flex flex-row justify-content-end align-items-start"
            [class.col-auto]="filter.displayName.length < 50">
            @if (filter.description?.length) {
              <span class="btn px-1 btn-sm"
                [ngbTooltip]="filter.description"
                role="presentation"
                aria-label="{{filter.description}}">
                <fa-icon [icon]="actionIcons.tooltip" aria-hidden="true" />
              </span>
            }
            @if ((filter.isDefault$ | async) === false) {
              <button
                class="btn btn-ghost px-1 btn-sm"
                type="button"
                (click)="filter.reset()"
                ngbTooltip="Reset this filter to its default values"
                aria-label="reset">
                <fa-icon [icon]="filterIcons.clear" aria-hidden="true"></fa-icon>
              </button>
            }
            @if ((filter.isDefault$ | async) === false) {
              <button
                class="btn btn-ghost px-1 btn-sm"
                type="button"
                (click)="filter.toggle()"
                ngbTooltip="{{filter.state$.value.active ? 'Disable this filter' : 'Enable this filter'}}"
                aria-label="{{filter.state$.value.active ? 'deactivate' : 'activate'}}">
                <fa-icon [icon]="filterIcons.toggle" aria-hidden="true"></fa-icon>
              </button>
            }
        </div>
    </div>
    <div class="my-3" class="filter-control">
      @if (filter.adHoc) {
        <ia-ad-hoc-filter [filter]="filter" [queryModel]="queryModel"></ia-ad-hoc-filter>
      }
      @if (!filter.adHoc) {
        @switch (filter.filterType) {
          @case ('BooleanFilter') {
            <ia-boolean-filter [filter]="filter" [queryModel]="queryModel"></ia-boolean-filter>
          }
          @case ('DateFilter') {
            <ia-date-filter [filter]="filter" [queryModel]="queryModel"></ia-date-filter>
          }
          @case ('MultipleChoiceFilter') {
            <ia-multiple-choice-filter [filter]="filter" [queryModel]="queryModel"></ia-multiple-choice-filter>
          }
          @case ('RangeFilter') {
            <ia-range-filter [filter]="filter" [queryModel]="queryModel"></ia-range-filter>
          }
          @case ('TagFilter') {
            <ia-tag-filter [filter]="filter" [queryModel]="queryModel"></ia-tag-filter>
          }
        }
      }
    </div>
  </fieldset>
}
