.hits {
    &.is-loading {

        &:after {
            // normally the spinner is placed in the middle, but this component is generally
            // really long so it wouldn't be visible to the user changing the sorting then
            top: 50px;
        }
    }
}

.hits {
    margin-bottom: 15px;
}

.title {
    font-size: 1.5rem;
}

.subtitle {
    font-size: 1rem;
}
