@if (page && document) {
<table class="table table-borderless">
    @for (field of page.fields; track field) {
    <colgroup>
        <col style="width: 20%;" />
        <col style="width: 80%;" />
    </colgroup>
    <tbody>
        @if (document.hasValue(field)) {
        <tr>
            <th>
                <span [iaBalloon]="field.description" iaBalloonPosition="left" iaBalloonLength="medium">
                    {{field.displayName}}:
                </span>
            </th>
            <td [attr.lang]="document.language(field)">
                @if (field.displayType === 'text_content') {
                <ia-content-field-preview [field]="field" [document]="document" />
                } @else {
                <ia-metadata-field [field]="field" [document]="document" />
                }
            </td>
        </tr>
        }
    </tbody>
    }
</table>
<div class="row g-2 align-items-center">
    @if (document.relevance) {
    <div class="col-md-auto heading">
        Relevance: <ia-search-relevance [value]="document.relevance"></ia-search-relevance>
    </div>
    }
    <div class="col-md" role="presentation"></div>
    <div class="col-md-auto">
        <button class="btn btn-primary" (click)="page.focus(document)">
            <fa-icon [icon]="actionIcons.view" aria-hidden="true"></fa-icon>
            View
        </button>
    </div>
    @if (document.fieldValues.image_path) {
        <div class="col-md-auto">
            <button class="btn btn-body" (click)="goToScan(page, document, $event)" aria-label="view scan">
                <span aria-hidden="true"><fa-icon [icon]="documentIcons.scanAlt"></fa-icon></span>
                <span>View scan</span>
            </button>
        </div>
    }
    <div class="col-md-auto">
        <a class="btn btn-body" [routerLink]="documentUrl">
            <span aria-hidden="true"><fa-icon [icon]="actionIcons.link"></fa-icon></span>
            <span>
                Link
            </span>
        </a>
    </div>
</div>
}
