@if (queryFeedback && queryFeedback.status !== 'success') {
  <div class="block message">
    <div class="message-header">
      <h2>{{titles[queryFeedback.status]}}</h2>
    </div>
    <div class="message-body content">
      @if (queryFeedback.status === 'multiple words') {
        <p>
          Your query consists of multiple words or contains spaces. Queries for words models must consist of a single word.
        </p>
      }
      @if (queryFeedback.status === 'empty') {
        <p>
          Enter a query term to explore the word models.
        </p>
      }
      @if (queryFeedback.status === 'error') {
        <p>
          The server encountered an error and the word models could not be loaded.
        </p>
      }
      @if (queryFeedback.status === 'not in model') {
        <p>
          The query term '{{query}}' is not in the model's vocabulary.
          If you meant to search for this term, it may be a stopword or have a very low frequency.
        </p>
      }
      @if (queryFeedback?.similarTerms && queryFeedback?.similarTerms.length) {
        <p>
          The following words <i>are</i> in the model's vocabulary:
          @for (term of queryFeedback.similarTerms; track term) {
            <span>
              <a role="button" tabindex="0" (click)="submitNewQuery(term)" (keyboard.enter)="submitNewQuery(term)"
              iaBalloon="search for {{term}}">{{term}}</a>@if (!isFinalTerm(term)) {
              <span>, </span>
            }
          </span>
        }
      </p>
    }
  </div>
</div>
}

@if (queryFeedback === undefined) {
  <div class="block is-loading" style="height: 5rem;"></div>
}
