<div class="my-3 table-container">
  <p-table [value]="formattedData" [paginator]="true" [rows]="15" sortField={{defaultSort}} sortOrder={{defaultSortOrder}}>
    <ng-template pTemplate="header">
      <tr class="is-selected">
        @for (col of formattedHeaders; track col) {
          <th [pSortableColumn]="col.key">
            {{col.label}}
            <p-sortIcon [field]="col.key"></p-sortIcon>
          </th>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entry>
      <tr>
        @for (col of formattedHeaders; track col) {
          <td>
            {{col.format !== undefined ? col.format(entry[col.key]) : entry[col.key]}}
            @if (entry[col.key] === undefined) {
              <span class="has-text-grey-light">
                none
              </span>
            }
          </td>
        }
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="level">
  <div class="level-left">
    @if (wideFormatColumn !== undefined) {
      <div class="level-item" iaBalloon="change the format for the table">
        <div class="input-group mb-3">
          <div class="control">
            <button class="btn" iaToggleButton [active]="format === 'long'"
            (click)="setFormat('long')">long format</button>
          </div>
          <div class="control">
            <button class="btn" iaToggleButton [active]="format === 'wide'"
            (click)="setFormat('wide')">wide format</button>
          </div>
        </div>
      </div>
    }
    @if (!disableFullTable) {
      <div class="level-item">
        <button class="btn" iaToggleButton [active]="fullTableToggle" (click)="toggleFullTable()">Show extra
        columns</button>
      </div>
    }
  </div>

  <div class="level-right">
    <div class="level-item">
      <button class="btn" (click)="downloadTable()">
        <span >
          <fa-icon [icon]="actionIcons.download" aria-hidden="true"></fa-icon>
        </span>
        <span>Download table data</span>
      </button>
    </div>
  </div>
</div>
