<div class="my-3">
    <table class="table">
        <thead>
            <tr>
                @for (col of formattedHeaders; track col.key) {
                    @let isActiveSort = (tableData.sortBy$ | async) === col.key;
                    <th>
                        <div class="d-flex justify-content-between">
                            <span>
                                {{col.label}}
                            </span>
                            <button class="btn btn-sm"
                                [class.btn-primary]="isActiveSort"
                                [class.btn-ghost]="!isActiveSort"
                                [attr.aria-pressed]="isActiveSort"
                                attr.aria-label="sort by {{col.label}}"
                                ngbTooltip="sort by {{col.label}}"
                                (click)="tableData.toggleSort(col.key)">
                                @if (isActiveSort) {
                                    @if (tableData.sortAscending$ | async) {
                                        <fa-icon aria-hidden="true" [icon]="sortIcons.genericAsc" />
                                    } @else {
                                        <fa-icon aria-hidden="true" [icon]="sortIcons.genericDesc" />
                                    }
                                } @else {
                                    <fa-icon aria-hidden="true" [icon]="sortIcons.toggle" />
                                }
                            </button>
                        </div>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @for (entry of tableData.pageData$ | async; track entry) {
                <tr>
                    @for (col of formattedHeaders; track col.key) {
                        <td>
                            @if (entry[col.key] === undefined) {
                                <span class="text-secondary">none</span>
                            } @else {
                                {{ formatValue(entry[col.key], col) }}
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<ngb-pagination [collectionSize]="tableData.totalSize$ | async"
    [pageSize]="tableData.pageSize"
    [page]="tableData.page$ | async"
    (pageChange)="tableData.page$.next($event)"
    class="d-flex justify-content-center"
/>

<div class="row g-2">
    @if (wideFormatAvailable) {
      <div class="col-md-auto">
            <div class="input-group" ngbTooltip="change the format for the table">
                <button class="btn btn-body" iaToggleButton [active]="format === 'long'"
                    (click)="setFormat('long')">long format</button>
                <button class="btn btn-body" iaToggleButton [active]="format === 'wide'"
                    (click)="setFormat('wide')">wide format</button>
            </div>
        </div>
    }
    @if (!disableFullTable) {
      <div class="col-md-auto">
            <button class="btn btn-body" iaToggleButton [active]="fullTableToggle" (click)="toggleFullTable()">
                Show extra columns
            </button>
      </div>
    }
    <div class="col-md-auto ms-auto">
        <button class="btn btn-body" (click)="downloadTable()">
            <fa-icon [icon]="actionIcons.download" aria-hidden="true" />
            Download table data
        </button>

    </div>
</div>
