@use '../../../variables' as var;

.p-active, .p-highlight {
    background-color: var.$tc_primary !important;
    color: var(--bs-emphasis-color) !important;
}

.p-datatable-wrapper {
    width: 100%;
    overflow-x: scroll;
}

