<div class="my-3">
  <p-table [value]="formattedData" [paginator]="true" [rows]="15" sortField={{defaultSort}} sortOrder={{defaultSortOrder}}>
    <ng-template pTemplate="header">
      <tr class="is-selected">
        @for (col of formattedHeaders; track col) {
          <th [pSortableColumn]="col.key">
            {{col.label}}
            <p-sortIcon [field]="col.key"></p-sortIcon>
          </th>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entry>
      <tr>
        @for (col of formattedHeaders; track col) {
          <td>
            {{col.format !== undefined ? col.format(entry[col.key]) : entry[col.key]}}
            @if (entry[col.key] === undefined) {
              <span class="text-secondary">
                none
              </span>
            }
          </td>
        }
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="row g-2">
    @if (wideFormatColumn !== undefined) {
      <div class="col-md-auto">
            <div class="input-group" ngbTooltip="change the format for the table">
                <button class="btn btn-body" iaToggleButton [active]="format === 'long'"
                    (click)="setFormat('long')">long format</button>
                <button class="btn btn-body" iaToggleButton [active]="format === 'wide'"
                    (click)="setFormat('wide')">wide format</button>
            </div>
        </div>
    }
    @if (!disableFullTable) {
      <div class="col-md-auto">
            <button class="btn btn-body" iaToggleButton [active]="fullTableToggle" (click)="toggleFullTable()">
                Show extra columns
            </button>
      </div>
    }
    <div class="col-md-auto ms-auto">
        <button class="btn btn-body" (click)="downloadTable()">
            <fa-icon [icon]="actionIcons.download" aria-hidden="true" />
            Download table data
        </button>

    </div>
</div>
