<ia-corpus-header [corpus]="corpus" currentPage="document"></ia-corpus-header>
<div class="py-5 pt-3">
    <div class="container-lg">
        <h2 class="h3 mb-4">
            Document: <span class="font-monospace">{{documentId}}</span>
        </h2>

    @if (documentFound) {
      <div [iaLoading]="!document">

        <div class="d-flex justify-content-between">
            <div>
                @if (showNEROption) {
                  <ia-entity-toggle (toggleNER)="toggleNER($event)"></ia-entity-toggle>
                }
            </div>
            @if (document?.hasContext) {
                <a [routerLink]="contextLink" [queryParams]="contextQueryParams"
                    ngbTooltip="view all documents from this {{contextDisplayName}}"
                    class="icon-link">
                  <fa-icon [icon]="documentIcons.context" />
                  View {{contextDisplayName}}
                </a>
            }
        </div>
        <div class="my-3">
          @if (document) {
            <ia-document-view [document]="document" [corpus]="corpus" [showEntities]="showNamedEntities"></ia-document-view>
          }
        </div>
      </div>
    } @else {
        <div class="alert alert-danger">
            Cannot find document "{{documentId}}" in {{corpus.title}}
        </div>
    }
  </div>
</div>
