<ia-corpus-header [corpus]="corpus" currentPage="document"></ia-corpus-header>
<div class="section pt-3">
  <div class="container">
    <h2 class="title is-4">
      Document: <span class="is-family-monospace">{{documentId}}</span>
    </h2>

    @if (documentFound) {
      <div [ngClass]="{'is-loading': !document}">

        <div class="level block">
          <div class="level-left">
            @if (showNEROption) {
              <ia-entity-toggle (toggleNER)="toggleNER($event)"></ia-entity-toggle>
            }
          </div>
          <div class="level-right">
            @if (document?.hasContext) {
              <div class="level-item">
                <a [routerLink]="contextLink" [queryParams]="contextQueryParams" iaBalloon="view all documents from this {{contextDisplayName}}">
                  <span class="icon"><fa-icon [icon]="documentIcons.context"></fa-icon></span>
                  <span>View {{contextDisplayName}}</span>
                </a>
              </div>
            }
          </div>
        </div>
        <div class="block">
          @if (document) {
            <ia-document-view [document]="document" [corpus]="corpus" [showEntities]="showNamedEntities"></ia-document-view>
          }
        </div>
      </div>
    } @else {
      <div class="message is-danger">
        <div class="message-body">
          Cannot find document "{{documentId}}" in {{corpus.title}}
        </div>
      </div>
    }
  </div>
</div>
