<p class="form-label" id="term-comparison-label">Compare search terms</p>
<form aria-labelledby="term-comparison-label">
    <div class="input-group">
        <ia-chips [(value)]="queries" itemName="query" [limit]="termLimit" />
        <button class="btn btn-primary" (click)="confirmQueries()" [disabled]="!valid(queries)">
            <fa-icon [icon]="formIcons.confirm" aria-hidden="true" class="me-1" />
            Confirm
        </button>
        @if (showReset$ | async) {
            <button class="btn btn-body" (click)="reset()">
                <fa-icon [icon]="formIcons.reset" aria-hidden="true" class="me-1" />
                Reset
            </button>
        }
    </div>
</form>
