@if (document) {
<p-dialog [(visible)]="visible" width="100%" [maximizable]="true" [dismissableMask]="true" [blockScroll]="true"
    [modal]="true">
    <ng-template #header>
        <span>Document {{documentPosition(document, page)}} of {{page.total}}</span>
        @if (showNEROption) {
        <ia-entity-toggle (toggleNER)="toggleNER($event)"></ia-entity-toggle>
        }
    </ng-template>
    <div class="mt-4 mb-4">
        <ia-document-view [document]="document" [queryModel]="queryModel" [corpus]="document.corpus" [view]="view"
            [showEntities]="showNamedEntities" />
    </div>
    <ng-template #footer>
        <div class="col">
            @if (document.position > 1) {
                <a class="btn btn-ghost" ngbTooltip="view previous document"
                    (click)="page.focusPrevious(document)" (keydown.enter)="page.focusPrevious(document)" role="button"
                    tabindex="0">
                    <fa-icon [icon]="actionIcons.prev" aria-hidden="true" />
                </a>
            }
        </div>
        <div class="col-auto">
            <div class="hstack gap-2">
                <a class="btn btn-ghost " [routerLink]="documentPageLink" ngbTooltip="view this document on its own page"
                    tabindex="0">
                    <fa-icon [icon]="actionIcons.link"></fa-icon>
                    Link
                </a>
                @if (document.hasContext) {
                    <a class="btn btn-ghost" [routerLink]="['/search', document.corpus.name]"
                        [queryParams]="document.contextQueryParams"
                        ngbTooltip="view all documents from this {{contextDisplayName}}" tabindex="0">
                        <fa-icon [icon]="documentIcons.context"></fa-icon>
                        View {{contextDisplayName}}
                    </a>
                }
            </div>
        </div>
        <div class="col text-end">
            @if (document.position < page.documents.length) {
                <a class="btn btn-ghost"
                    ngbTooltip="view next document" (click)="page.focusNext(document)"
                    (keydown.enter)="page.focusNext(document)" role="button" tabindex="0">
                    <fa-icon [icon]="actionIcons.next" aria-hidden="true" />
                </a>
            }
        </div>
    </ng-template>
</p-dialog>
}
