<!-- inform the user about a failed search -->
<ng-template #errorModal>
    <div class="modal-header">
        <h1 class="modal-title h4" id="error-modal-title">
            Unfortunately, we could not complete your request.
        </h1>
        <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="close()"
        ></button>
    </div>
    <div class="modal-body">
        <p>Please try again later, or seek support if the problem persists.</p>
        <p>
            In order to help us help you, please provide the following
            information when seeking support:
        </p>
        <table>
            <tbody>
                <tr>
                    <th>Date</th>
                    <td>
                        <code>{{ errorDetails.date }}</code>
                    </td>
                </tr>
                <tr>
                    <th>URL</th>
                    <td>
                        <code>{{ errorDetails.href }}</code>
                    </td>
                </tr>
                <tr>
                    <th>Error</th>
                    <td>
                        <code>{{ errorDetails.message }}</code>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>
