.tabs {
    --bulma-tabs-border-bottom-color: rgba(0, 0, 0, 0);
    --bulma-tabs-border-bottom-width: 2px;
}

.title {
    margin-bottom: 2rem;
}

.header-section {
    background-color: var(--corpus-header-background);
}
