<form aria-labelledby="header-filters">
    <div class="row">
        <h2 class="col" id="header-filters">Filters</h2>
        <div class="col-auto">
            @if (anyActiveFilters$ | async) {
            <button
                class="btn btn-ghost px-2 btn-lg"
                (click)="resetAllFilters()"
                ngbTooltip="Reset all filters to their default values"
                aria-label="reset all"
                type="button">
                <fa-icon [icon]="filterIcons.clear" aria-hidden="true"></fa-icon>
            </button>
            }
            @if (anyNonDefaultFilters$ | async) {
            <button
                class="btn btn-ghost px-2 btn-lg"
                (click)="toggleActiveFilters()"
                ngbTooltip="{{(anyActiveFilters$ | async) ? ('Disable active filters') : ('Enable deactivated filters')}}"
                aria-label="toggle all"
                type="button">
                <fa-icon [icon]="filterIcons.toggle" aria-hidden="true"></fa-icon>
            </button>
            }
        </div>
    </div>
  @for (filter of filters; track filter) {
    @if (!filter['adHoc'] || filter.state$.value.active) {
      <div class="my-3">
        <ia-filter-box [filter]="filter" [queryModel]="queryModel"></ia-filter-box>
      </div>
    }
  }
</form>
