<div class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <p>
          <strong>Textcavator is developed by </strong>
        </p>
        <a href="https://cdh.uu.nl/centre-for-digital-humanities/research-software-lab/" target="_blank">
                    <img [src]="
                        (theme$ | async) == 'dark' ?
                        'assets/UU-CDH_logo_EN_def_UU_CDH_logo_EN_white.png' :
                        'assets/UU-CDH_logo_EN_def_UU_CDH_logo_EN_yellowwhite.jpg'"
            alt="Centre for Digital Humanities, Utrecht University"
            width="400">
        </a>
      </div>
      @if (environment.logos?.length) {
        <div class="column">
          <p>
            <strong> With support from </strong>
          </p>
          <div class="columns">
            @for (logo of environment.logos; track logo) {
              <div class="column">
                <a [href]="logo.url" target="_blank">
                  <img [src]="logo.path" [alt]="logo.alt" [width]="logo.width">
                </a>
              </div>
            }
          </div>
        </div>
      }
    </div>
    <div class="block">
      <p>
        Version: {{environment.version}}
        <a [href]="environment.sourceUrl" target="_blank" i18n>(source code)</a>
      </p>
    </div>
  </div>
</div>
