<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark" aria-label="primary navigation">
    <div class="container-fluid">
        <!-- skip link for keyboard navigation.
    Complicated setup because the menu is outside of router-outlet and so
    it can't use [routerLink]="." -->
        @if (route$ | async; as route) {
            <a class="visually-hidden-focusable z-1 position-absolute
                bg-dark text-bg-dark"
                [routerLink]="route.url" [queryParams]="route.queryParams" fragment="main">
                Skip to content
            </a>
        }
        <a class="navbar-brand" [routerLink]="['/home']">
            @if (brand.logo) {
                <img class="logo me-2"
                    [src]="brand.logo"
                    [alt]="brand.logoAlt"
                    [attr.aria-hidden]="!brand.logoAlt?.length">
            }
            <span class="app-title fs-4">
                <span>{{brand.title}}</span>
                @if (brand.subtitle) {
                <span>
                    <span class="d-none d-lg-inline"> | </span>
                    <span class="d-lg-none"><br></span>
                    <span class="app-subtitle">{{brand.subtitle}}</span>
                </span>
                }
            </span>
        </a>

        <button class="navbar-toggler" type="button" aria-controls="navbar-links"
            [attr.aria-expanded]="menuOpen$ | async" aria-label="Toggle navigation" (click)="toggleMenu()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-links" id="navigation-menu" class="collapse navbar-collapse"
            [ngbCollapse]="(menuOpen$ | async) === false">
            <ul class="navbar-nav">
                <!-- navbar items -->
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']">
                        <span aria-hidden="true">
                            <fa-icon [icon]="navIcons.corpora"></fa-icon>
                        </span>
                        Corpora
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/manual', 'main']">
                        <span aria-hidden="true">
                            <fa-icon [icon]="navIcons.manual"></fa-icon>
                        </span>
                        Manual
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/about']">
                        <span aria-hidden="true">
                            <fa-icon [icon]="navIcons.about"></fa-icon>
                        </span>
                        About
                    </a>
                </li>
            </ul>

            <!-- theme dropdown -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" ngbDropdown [attr.data-bs-theme]="activeTheme$ | async">
                    <a class="nav-link" ngbDropdownToggle id="theme-dropdown-toggle" role="button">
                        <fa-icon [icon]="currentThemeOption.icon" aria-label="theme" />
                    </a>
                    <div ngbDropdownMenu aria-labelledby="theme-dropdown-toggle"
                        class="dropdown-menu dropdown-menu-end">
                        @for (option of themeOptions; track option.value) {
                        <button ngbDropdownItem [class.active]="option.value === currentThemeOption?.value"
                            [attr.aria-pressed]="option.value === currentThemeOption?.value"
                            (click)="setTheme(option.value)">
                            <span aria-hidden><fa-icon [icon]="option.icon" /></span>
                            <span>{{option.label}}</span>
                        </button>
                        }
                    </div>
                </li>
                <!-- user dropdown -->
                @if (user$ | async; as user) {
                <li class="nav-item" ngbDropdown [attr.data-bs-theme]="activeTheme$ | async">
                    <a class="nav-link" ngbDropdownToggle id="user-dropdown-toggle" role="button">
                        <fa-icon aria-hidden="true" [icon]="userIcons.user" />
                        {{user.name}}
                    </a>
                    <div ngbDropdownMenu aria-labelledby="user-dropdown-toggle" class="dropdown-menu dropdown-menu-end">
                        @if (user.canEditCorpora) {
                        <a ngbDropdownItem [routerLink]="['/custom-corpora']" [routerLinkActive]="'is-active'">
                            <span aria-hidden="true">
                                <fa-icon [icon]="navIcons.corpora" />
                            </span>
                            Custom corpora
                        </a>
                        }
                        <a ngbDropdownItem [routerLink]="['/search-history']" routerLinkActive="is-active">
                            <span aria-hidden="true">
                                <fa-icon [icon]="navIcons.searchHistory"></fa-icon>
                            </span>
                            Search history
                        </a>
                        <a ngbDropdownItem [routerLink]="['/download-history']" routerLinkActive="is-active">
                            <span aria-hidden="true">
                                <fa-icon [icon]="navIcons.downloads"></fa-icon>
                            </span>
                            Downloads
                        </a>
                        <a ngbDropdownItem [routerLink]="['/tags']" routerLinkActive="is-active">
                            <span aria-hidden="true">
                                <fa-icon [icon]="navIcons.tags"></fa-icon>
                            </span>
                            Tags
                        </a>
                        <a ngbDropdownItem [routerLink]="['/settings']" routerLinkActive="is-active">
                            <span aria-hidden="true">
                                <fa-icon [icon]="navIcons.settings"></fa-icon>
                            </span>
                            Settings
                        </a>
                        @if (user.isAdmin) {
                        <a ngbDropdownItem href="{{adminUrl}}">
                            <span aria-hidden="true">
                                <fa-icon [icon]="navIcons.admin"></fa-icon>
                            </span>
                            Administration
                        </a>
                        }
                        <a ngbDropdownItem role="button" tabindex="0" (click)="logout()" (keydown.enter)="logout()">
                            <span aria-hidden="true">
                                <fa-icon [icon]="userIcons.logout"></fa-icon>
                            </span>
                            Sign out
                        </a>
                    </div>
                </li>
                } @else {
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="'is-active'">
                        Sign in
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/registration']" [routerLinkActive]="'is-active'">
                        Register
                    </a>
                </li>
                }
            </ul>
        </div>
    </div>
</nav>
