
<div class="card">
    <div class="card-body">
        <div class="row g-3">
          <div class="col-md-4">
            <div class="field">
              <label class="form-label"
                ngbTooltip="view ngrams (phrases) or collocates (loose words)"
                id="label-mode">
                Mode
              </label>
                <ia-dropdown [value]="currentModeOption"
                    (onChange)="onParameterChange('mode', $event.value)">
                    <button iaDropdownToggle aria-labelledby="label-mode">
                        {{currentModeOption?.label}}
                    </button>
                    <div iaDropdownMenu>
                        @for (option of modeOptions; track option) {
                            <button iaDropdownItem [value]="option">
                                {{option.label}}
                            </button>
                        }
                    </div>
              </ia-dropdown>
            </div>
          </div>
          <div class="col-md-4">
            <div class="field">
              <label class="form-label"
                ngbTooltip="search for bigrams (2 words) or trigrams (3 words)"
                id="label-size">
                @if (currentSettings.mode === 'ngrams') {
                  Length of n-gram
                } @else {
                  Maximum distance
                }
              </label>
                <ia-dropdown [value]="currentSizeOption"
                    (onChange)="onParameterChange('size', $event.value)">
                    <button iaDropdownToggle aria-labelledby="label-size">
                        {{currentSizeOption?.label}}
                    </button>
                    <div iaDropdownMenu>
                    @for (option of sizeOptions; track option) {
                        <button iaDropdownItem [value]="option">
                            {{option.label}}
                        </button>
                    }
                    </div>
                </ia-dropdown>
            </div>
          </div>
          @if (currentSettings.mode === 'ngrams') {
            <div class="col-md-4">
              <div class="field">
                <label class="form-label"
                    ngbTooltip="only search n-grams with the search term in the specified position"
                    id="label-positions">
                  Position of search term
                </label>
                <ia-dropdown [value]="currentPositionsOption"
                    (onChange)="onParameterChange('positions', $event.value)">
                    <button iaDropdownToggle aria-labelledby="label-positions">
                        {{currentPositionsOption?.label}}
                    </button>
                    <div iaDropdownMenu>
                      @for (option of positionsOptions; track option) {
                          <button iaDropdownItem [value]="option">
                              {{option.label}}
                          </button>
                      }
                    </div>
                </ia-dropdown>
              </div>
            </div>
          }
          <div class="col-md-4">
            <div class="field">
              <label class="form-label"
                ngbTooltip="divide by the average frequency of the words in the n-gram; favours words that are otherwise rare"
                id="label-freq-compensation">
                Compensate for frequency
              </label>
                <ia-dropdown [value]="currentFreqCompensationOption"
                    (onChange)="onParameterChange('freqCompensation', $event.value)">
                    <button iaDropdownToggle aria-labelledby="label-freq-compensation">
                        {{currentFreqCompensationOption?.label}}</button>
                    <div iaDropdownMenu>
                        @for (option of freqCompensationOptions; track option) {
                            <button iaDropdownItem [value]="option">
                                {{option.label}}
                            </button>
                        }
                    </div>
                </ia-dropdown>
            </div>
          </div>
          @if (analysisOptions) {
            <div class="col-md-4">
              <div class="field">
                <label class="form-label"
                    ngbTooltip="pre-processing steps on the text, like removing stopwords or stemming"
                    id="label-analysis">
                  Language processing
                </label>
                    <ia-dropdown [value]="currentAnalysisOption"
                            (onChange)="onParameterChange('analysis', $event.value)">
                        <button iaDropdownToggle aria-labelledby="label-analysis">
                            {{currentAnalysisOption?.label}}
                        </button>
                        <div iaDropdownMenu>
                            @for (option of analysisOptions; track option) {
                                <button iaDropdownItem [value]="option">
                                    {{option.label}}
                                </button>
                            }
                        </div>
                    </ia-dropdown>
              </div>
            </div>
          }
          <div class="col-md-4">
            <div class="field">
              <label class="form-label"
                ngbTooltip="maximum number of documents analyzed per time interval"
                id="label-max-documents">
                Document limit
              </label>
                    <ia-dropdown [value]="currentMaxDocumentsOption"
                        (onChange)="onParameterChange('maxDocuments', $event.value)">
                        <button iaDropdownToggle aria-labelledby="label-max-documents">
                            {{currentMaxDocumentsOption?.label}}
                        </button>
                        <div iaDropdownMenu>
                            @for (option of maxDocumentsOptions; track option) {
                            <button iaDropdownItem [value]="option">
                                {{option.label}}
                            </button>
                            }
                        </div>
                    </ia-dropdown>
            </div>
          </div>
          <div class="col-md-4">
            <div class="field">
              <label class="form-label"
                ngbTooltip="the number of n-grams displayed in the results"
                id="label-number-of-ngrams">
                Number of n-grams
              </label>
                <ia-dropdown [value]="currentNumberOfNgramsOption"
                    (onChange)="onParameterChange('numberOfNgrams', $event.value)">
                    <button iaDropdownToggle aria-labelledby="label-number-of-ngrams">
                        {{currentNumberOfNgramsOption?.label}}
                    </button>
                    <div iaDropdownMenu>
                        @for (option of numberOfNgramsOptions; track option) {
                            <button iaDropdownItem [value]="option">
                                {{option.label}}
                            </button>
                        }
                    </div>
                </ia-dropdown>
            </div>
          </div>
        </div>
        @if (allDateFields && allDateFields.length > 1) {
          <div class="col-md-4">
            <div class="field">
                <label class="form-label"
                    ngbTooltip="field to use on the x-axis"
                    id="label-date-field">
                  Compare frequencies by:
                </label>
                <ia-dropdown [value]="dateField"
                    (onChange)="onParameterChange('dateField', $event)">
                    <button iaDropdownToggle aria-labelledby="label-date-field">
                        {{dateField?.displayName}}
                    </button>
                    <div iaDropdownMenu>
                        @for (field of allDateFields; track field) {
                            <button iaDropdownItem [value]="field.name">
                                {{field.displayName}}
                            </button>
                        }
                    </div>
                </ia-dropdown>
            </div>
          </div>
        }
        @if (parametersChanged) {
          <div class="row justify-content-end mt-3 g-2">
              <div class="col-auto">
                <button class="btn btn-body" type="reset" (click)="cancelChanges()">
                  <fa-icon [icon]="formIcons.reset" class="me-1" />
                  Cancel changes
                </button>
              </div>
              <div class="col-auto">
                <button class="btn btn-primary" type="submit" (click)="confirmChanges()">
                  <fa-icon [icon]="formIcons.confirm" class="me-1" />
                  Calculate!
                </button>
              </div>
            </div>
        }
    </div>
</div>


<div [ngClass]="{ 'd-none': asTable, 'is-loading':isLoading}">
  <div class="my-3">
    <ia-joyplot [data]="currentResults" [formatValue]="formatValue" [palette]="palette" quantity="frequency"
      [comparedByQuantity]="dateField?.displayName">
    </ia-joyplot>
  </div>
</div>

@if (asTable) {
  <div class="my-3">
    <ia-freqtable [headers]="tableHeaders" [data]="tableData" [defaultSort]="'date'" [name]="visualizedField.name+'-ngrams'">
    </ia-freqtable>
  </div>
}

<ia-full-data-button (requestFullData)="requestFullData()"></ia-full-data-button>
