<section class="py-5">

    <form (ngSubmit)="login()" class="container">
        <div class="container is-login">
            <h1>Sign in</h1>
            <div class="my-3">
                <label class="form-label" for="username">Username</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <fa-icon [icon]="userIcons.user" aria-hidden="true"></fa-icon>
                    </span>
                    <input class="form-control" type="text" [(ngModel)]="username" name="username" />
                </div>
            </div>
            <div class="field">
                <label class="form-label" for="password">Password</label>
                <p class="input-group">
                    <span class="input-group-text">
                        <fa-icon [icon]="userIcons.password" aria-hidden="true"></fa-icon>
                    </span>
                    <input class="form-control" type="password" [(ngModel)]="password" name="password" />
                </p>
            </div>
            <div class="row">
                <div class="col">
                    <p class="control">
                        <button class="btn btn-primary" [iaButtonLoading]="isLoading">Login</button>
                    </p>
                </div>
                <div class="col-sm-auto">
                    <a [routerLinkActive]="'is-active'" [routerLink]="['/reset']">
                        Forgot password?
                    </a>
                </div>
                <div class="col-sm-auto">
                    <a [routerLinkActive]="'is-active'" [routerLink]="['/registration']">
                        <fa-icon [icon]="userIcons.user" aria-hidden="true"></fa-icon>
                        Sign Up
                    </a>
                </div>
            </div>
            @if (showSolis) {
            <div>
                <p class="control">
                    Or login with:
                </p>
                <div class="card">
                    <div class="card-body p-2">
                        <a class="stretched-link link-body-emphasis link-offset-2"
                            href='/users/saml2/login/'>
                            <img src="/assets/solis.png" width="40" height="40">
                            <span class="ms-1"><strong>Solis ID</strong></span>
                        </a>
                    </div>
                </div>
            </div>
            }
        </div>
    </form>
</section>
<section class="py-5">
    <div class="container">
        @if (isWrong) {
        <div class="alert alert-danger">
            <strong>Invalid username or password</strong>. Please try again.
        </div>
        }
        @if (isNotVerified) {
        <div class="alert alert-danger">
            <strong>Your email address has not been verified.</strong> See email for instructions.
        </div>
        }
        @if (hasError) {
        <div class="alert alert-danger">
            <strong>Something went wrong while logging you in</strong>. Please try again.
        </div>
        }
    </div>
</section>
