<div class="field is-grouped is-grouped-multiline">
  @for (tag of tags; track tag) {
    <div class="control tags has-addons">
      <span class="tag is-primary tag-name">
        <span class="name">
          {{tag.name}}
        </span>
      </span>
      <button class="btn tag" [attr.aria-label]="'remove tag ' + tag.name"
        iaBalloon="remove this tag" iaBalloonPosition="down"
        (click)="removeTag(tag)">
        <span ><fa-icon [icon]="actionIcons.remove" aria-hidden="true"></fa-icon></span>
      </button>
    </div>
  }

  <div class="control">
    @if (showAddNew) {
      <ia-tag-select [exclude]="tags" (selection)="addTag($event)" (cancel)="closeAddNew()" />
    } @else {
      <button class="btn tag" aria-label="add a tag"
        iaBalloon="add a tag" iaBalloonPosition="down"
        (click)="showAddNew = true"
        #toggleAddNewButton>
        <span ><fa-icon [icon]="actionIcons.add" aria-hidden="true"></fa-icon></span>
      </button>
    }

  </div>

</div>
