<div class="row g-2">
    @for (tag of tags; track tag) {
        <div class="col-auto">

            <div class="btn-group">
              <span class="btn btn-primary btn-sm tag-name btn-static">
                <span class="name">
                  {{tag.name}}
                </span>
              </span>
              <button class="btn btn-body btn-sm" [attr.aria-label]="'remove tag ' + tag.name"
                ngbTooltip="remove this tag"
                (click)="removeTag(tag)">
                <fa-icon [icon]="actionIcons.remove" aria-hidden="true"></fa-icon>
              </button>
            </div>
        </div>
  }

  <div class="col-auto">
    @if (showAddNew) {
      <ia-tag-select [exclude]="tags" (selection)="addTag($event)" (cancel)="closeAddNew()" />
    } @else {
      <button class="btn btn-body btn-sm" aria-label="add a tag"
        ngbTooltip="add a tag"
        (click)="showAddNew = true"
        #toggleAddNewButton>
        <fa-icon [icon]="actionIcons.add" aria-hidden="true"></fa-icon>
      </button>
    }

  </div>

</div>
