<h2 class="mb-4 is-4">Change username</h2>

<p class="my-3">
    You can change the name that you use to sign in to {{appName}}.
</p>

<form [formGroup]="form">
    <div class="mb-4">
        <label for="input-username" class="form-label">
            Username
        </label>
        <input type="text" id="input-username" class="form-control"
            [class.is-invalid]="!!invalidFeedback"
            [formControl]="form.controls.name">
        <div class="invalid-feedback" aria-live="polite">
            {{invalidFeedback}}
        </div>
    </div>
    <button class="btn btn-primary" (click)="submitName()">
        <fa-icon [icon]="formIcons.confirm" />
        Save new username
    </button>
    <div aria-live="polite">
        <div class="alert alert-success mt-3" [hidden]="!successFeedback">
            <p class="mb-0">
                {{successFeedback}}
            </p>
        </div>
        <div class="alert alert-danger mt-3" [hidden]="!errorFeedback">
            <p class="mb-0">
                {{errorFeedback}}
            </p>
        </div>
    </div>
</form>
