@if (selector) {
  @if (selector.options.length) {
    <div class="row">
      <div class="col-md">
        <div class="field">
          <label class="form-label" id="label-visualization-type">
            What do you want to visualise?
          </label>
            <ia-dropdown [value]="selector.activeOption$ | async">
              <button iaDropdownToggle aria-labelledby="label-visualization-type">
                {{(selector.activeOption$ | async).label}}
                </button>
              <div iaDropdownMenu>
                @for (option of selector.options; track option) {
                    <button iaDropdownItem [value]="option"
                        [disabled]="option.disabled$ | async"
                        (onSelect)="setVisualizationType($event)">
                        {{option.label}}
                        @if (option.disabled$ | async) {
                            <small><br> <i>Requires a search term</i></small>
                        }
                    </button>
                }
              </div>
            </ia-dropdown>
        </div>
      </div>
      @if ((selector.activeOption$ | async).fields; as fields) {
        <div class="col-md">
          <div class="field">
            @if (selector.state$ | async; as state) {
              <label class="form-label"
                id="label-visualized-field">
                @if (state.name === 'resultscount' || state.name === 'termfrequency') {
                  <span>
                    Compare frequency by:
                  </span>
                }
                @if (state.name === 'wordcloud' || state.name === 'ngram') {
                  <span>
                    Count frequencies in:
                  </span>
                }
                @if (state.name === 'map') {
                  <span>
                    Show locations from:
                  </span>
                }
              </label>
            }
            <ia-dropdown [value]="(selector.state$ | async).field">
                <button iaDropdownToggle aria-labelledby="label-visualized-field">
                    {{(selector.state$ | async).field?.displayName}}
                </button>
                <div iaDropdownMenu>
                    @for (field of fields; track field) {
                        <button iaDropdownItem [value]="field"
                            (onSelect)="setVisualizedField($event)">
                            {{field.displayName}}
                        </button>
                    }
                </div>
            </ia-dropdown>

          </div>
        </div>
      }
      <div class="col-md-auto">
        <div class="input-group">
          <!-- Buttons for switching between table and graphical representation -->
            <button class="btn" iaToggleButton [active]="!freqtable"
              (click)="freqtable = false" aria-label="view chart">
              <fa-icon [icon]="visualizationIcons.chart" aria-hidden="true" />
            </button>
            <button class="btn" iaToggleButton [active]="freqtable"
              (click)="freqtable = true" aria-label="view table">
              <fa-icon [icon]="visualizationIcons.table" aria-hidden="true"/>
            </button>
        </div>
      </div>
    </div>
    @if (error$ | async; as error) {
      <div class="message is-danger">
        <div class="message-header">
          Something went wrong
        </div>
        <div class="message-body">
          {{error}}
        </div>
      </div>
    }
    <div class="my-3">
      @switch (visualizationType) {
        @case ('resultscount') {
          @if (visualizedField.displayType === 'date') {
            <ia-timeline [corpus]="corpus" [queryModel]="queryModel"
              [visualizedField]="visualizedField" [frequencyMeasure]="'documents'"
              [asTable]="freqtable" [palette]="palette"
              (error)="setErrorMessage($event)"></ia-timeline>
          }
          @if (visualizedField.displayType !== 'date') {
            <ia-histogram [corpus]="corpus" [queryModel]="queryModel" [visualizedField]="visualizedField"
              [asTable]="freqtable" [palette]="palette"
              (error)="setErrorMessage($event)"></ia-histogram>
          }
        }
        @case ('termfrequency') {
          @if (visualizedField.displayType === 'date') {
            <ia-timeline [corpus]="corpus" [queryModel]="queryModel"
              [visualizedField]="visualizedField" [frequencyMeasure]="'tokens'"
              [asTable]="freqtable" [palette]="palette"
              (error)="setErrorMessage($event)"></ia-timeline>
          }
          @if (visualizedField.displayType !== 'date') {
            <ia-histogram [corpus]="corpus" [queryModel]="queryModel" [visualizedField]="visualizedField"
              [frequencyMeasure]="'tokens'"
              [asTable]="freqtable" [palette]="palette"
              (error)="setErrorMessage($event)"></ia-histogram>
          }
        }
        @case ( 'wordcloud' ) {
          <ia-wordcloud [queryModel]="queryModel"
            [asTable]="freqtable" [palette]="palette"
          (wordcloudError)="setErrorMessage($event)"></ia-wordcloud>
        }
        @case ( 'ngram' ) {
          <ia-ngram [corpus]="corpus" [queryModel]="queryModel" [visualizedField]="visualizedField"
            [asTable]="freqtable" [palette]="palette"
          (ngramError)="setErrorMessage($event)"></ia-ngram>
        }
        @case ( 'map' ) {
          <ia-map [corpus]="corpus" [queryModel]="queryModel"
            [visualizedField]="visualizedField" [asTable]="freqtable"
          (mapError)="setErrorMessage($event)"></ia-map>
        }
      }
    </div>
    <ia-visualization-footer [tableView]="freqtable" [manualPage]="manualPage"
      [chartElementID]="chartElementId" [imageFileName]="imageFileName"
      (palette)="palette = $event">
    </ia-visualization-footer>
  } @else {
    <div class="my-3 message">
      This corpus has no fields with associated visualizations.
    </div>
  }
} @else {
  <div class="is-loading" aria-label="loading results"></div>
}


