<section class="py-5">
    <div class="container-lg">
        <h1 class="mb-4">Settings</h1>

        <div class="card mb-4">
            <div class="card-body">
                <ia-search-history-settings></ia-search-history-settings>
            </div>
        </div>

        @if (enableChangeCredentials$ | async) {
            <div class="card mb-4">
                <div class="card-body">
                    <ia-change-username />
                </div>
            </div>
        }

        @if (enableChangeCredentials$ | async) {
        <div class="card mb-4">
            <div class="card-body">
                <ia-change-password />
            </div>
        </div>
        }
    </div>
</section>
