<section class="py-5 container">
    @if (!resetSucceeded || passwordRejected) {
        <form (ngSubmit)="reset(resetForm)" #resetForm="ngForm">
            <h1 class="mb-4">Set new password</h1>
                <div class="my-4">
                    <label class="form-label">Password</label>
                    <input class="form-control" type="password" name="password" ngModel
                        #password="ngModel" required minlength="8" (ngModelChange)="onPasswordChange()"
                        [class.is-invalid]="password.touched && password.invalid"/>
                    <p class="invalid-feedback">
                        Password needs to be at least 8 characters.
                    </p>
                </div>
                <div class="my-4">
                    <label class="form-label">Confirm password</label>
                    <input class="form-control" type="password" name="passwordconfirm" ngModel
                        #passwordconfirm="ngModel" required
                        [class.is-invalid]="passwordconfirm.touched && passwordconfirm.value !== password.value" />
                    <p class="invalid-feedback">
                        Passwords don't match.
                    </p>
                </div>
            @if (passwordRejected) {
              <div class="alert alert-warning">
                {{message}}
              </div>
            }
            <div class="my-4">
                <button class="btn btn-primary"
                    [disabled]="!resetForm.touched || resetForm.invalid || resetForm.value?.password !== resetForm.value?.passwordconfirm"
                    [iaButtonLoading]="isLoading">Reset password</button>
            </div>
        </form>
    }

    <!-- Error and success messages -->
    @if (resetSucceeded === true) {
      <div class="notification is-success">{{message}}<br />Redirecting you to the
      login page...</div>
    }
    @if (resetSucceeded === false) {
      <div class="notification is-danger">
        {{message}}
      </div>
    }
    @if (tokenRejected) {
      <div class="notification is-danger">
        Invalid or expired token. Please try requesting a new <a [routerLink]="['/reset']">password reset </a>.
      </div>
    }

</section>
