
// .corpus-container {
//     padding: 0;
//     margin-inline-start: 0px;
//     margin-inline-end: 0px;
//     margin-bottom: 1.75rem;

//     > .column {
//         padding: 1rem; // slightly more generous padding
//     }

//     border-radius: $radius;
// }


img.corpus-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
