@if (field && document) {
    <div class="break-word" style="white-space: pre-wrap;">
        @let snippets = document.highlight?.[field.name];
        @if (snippets) {
            @for (snippet of snippets; track $index; let last = $last) {
                @let segments = snippet | highlightSnippet;
                @for (segment of segments; track $index) {
                    @if (segment.highlight)
                    {<mark class="highlight" ngPreserveWhitespaces>{{segment.content}}</mark>}
                    @else
                    {<ng-container ngPreserveWhitespaces>{{segment.content}}</ng-container>}

                }
                @if (!last) { <hr> }
            }
        } @else {
            @let content = document.fieldValue(field) | snippet:250;
            <ng-container ngPreserveWhitespaces>{{content}}</ng-container>
        }
    </div>
}
