@if (field && document) {
    <div class="break-word" style="white-space: pre-wrap;">
        @let snippets = document.highlight?.[field.name];
        @if (snippets) {
            @for (snippet of snippets; track $index; let last = $last) {
                <div ia-highlighted-content [content]="snippet"></div>
                @if (!last) { <hr> }
            }
        } @else {
            @let content = document.fieldValue(field) | snippet:250;
            <ng-container ngPreserveWhitespaces>{{content}}</ng-container>
        }
    </div>
}
