@font-face {
    font-family: "Open Sans";
    src: url('/assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf');
}

@font-face {
    font-family: "Open Sans";
    src: url('/assets/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf');
    font-style: italic;
}

@font-face {
    font-family: "Zilla Slab";
    src: url('/assets/fonts/Zilla_Slab/ZillaSlab-Regular.ttf') format('opentype');
}

@font-face {
    font-family: "Zilla Slab";
    src: url('/assets/fonts/Zilla_Slab/ZillaSlab-Italic.ttf') format('opentype');
    font-style: italic;
}

@font-face {
    font-family: "Zilla Slab";
    src: url('/assets/fonts/Zilla_Slab/ZillaSlab-Bold.ttf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: "Zilla Slab";
    src: url('/assets/fonts/Zilla_Slab/ZillaSlab-BoldItalic.ttf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Zilla Slab";
    src: url('/assets/fonts/Zilla_Slab/ZillaSlab-Light.ttf') format('opentype');
    font-weight: 200;
}

@font-face {
    font-family: "Zilla Slab";
    src: url('/assets/fonts/Zilla_Slab/ZillaSlab-LightItalic.ttf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Zilla Slab";
    src: url('/assets/fonts/Zilla_Slab/ZillaSlab-Medium.ttf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: "Zilla Slab";
    src: url('/assets/fonts/Zilla_Slab/ZillaSlab-MediumItalic.ttf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Zilla Slab";
    src: url('/assets/fonts/Zilla_Slab/ZillaSlab-SemiBold.ttf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: "Zilla Slab";
    src: url('/assets/fonts/Zilla_Slab/ZillaSlab-SemiBoldItalic.ttf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

$tc_font_sans_serif: 'Open Sans', system-ui, sans-serif;
$tc_font_brand: 'Zilla Slab', serif;
