@use "balloon-css/src/balloon";
@use "quill/dist/quill.snow";
@use './variables' as var;
@use './tc_theme';



[data-balloon]:after {
    border-radius: 0;
}

.is-loading:not(.btn) {
    // TODO: restore loader

    opacity: .5;
    // @extend %content-loader;
}


a.dropdown-item:focus {
    @extend a, .dropdown-item, :hover;
}

a.dropdown-item[disabled] {
    color: var(--bs-secondary-color);
    cursor: not-allowed;

    &:hover {
        background-color: inherit;
        color: var(--bs-secondary-color);
    }
}

@mixin mark-entity($color) {
    background-color: rgb(from $color r g b /.2);
    border-bottom: .2em solid;
    border-color: $color;
    white-space: nowrap;

    .entity-icon,
    &.entity-icon {
        padding-left: .3em;
        padding-right: .3em;
        color: $color;
    }
}

.entity-person {
    @include mark-entity(var.$entity-person);
}

.entity-location {
    @include mark-entity(var.$entity-location);
}

.entity-organization {
    @include mark-entity(var.$entity-organization);
}

.entity-miscellaneous {
    @include mark-entity(var.$entity-miscellaneous);
}

.is-disabled {
    @extend [disabled];
}

.highlight {
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-emphasis-color);
}

.input-feedback {
    margin-top: 0.5rem;
}

.content {
    a:not(.button) {
        text-decoration: underline;
    }
}


table.spreadsheet {
    border: 2px solid var(--bs-border-color);

    thead th,
    tbody td,
    tbody th {
        border-width: 1px;
    }

    th {
        background-color: var(--bs-body-bg);
    }

    tr:hover {
        background-color: inherit;
    }
}

.field.is-disabled {
    color: var(--bs-secondary-color);

    label {
        color: var(--bs-secondary-color);
    }
}


// restore some bulma-y styles for bootstrap

.btn.btn-body { // btn-outline only have a subtle border
    @extend .border;
    @extend .bg-body;

    &:hover {
        @extend .bg-body-tertiary;
    }

    &:active {
        @extend .bg-body-secondary;
    }
}


.btn.btn-ghost { // btn-ghost has no border and primary colour text
    @extend .text-primary;

    &:hover {
        @extend .bg-body-tertiary;
    }

    &:active {
        @extend .bg-body-secondary;
    }
}

.btn.btn-static {
    cursor: inherit;

    &:hover {
        border-color: var(--bs-btn-border-color);
        background-color: var(--bs-btn-bg);
        color: var(--bs-btn-color);
        z-index: 0;
    }

}

// restore some rules from older bulma versions for compatibility

.heading {
    display: block;
    font-size: 11px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
}


// reset focus styling for accessibility
// this ensures focus is visible on primary-colour background

a, button, .form-control, .form-select {
    &:focus-visible,&:focus {
        outline: auto !important;
        border: inherit !important;
        box-shadow: inherit !important;
    }
}

// primeNG

.input-group :last-child {
    .p-multiselect {
        border-start-start-radius: 0;
        border-end-start-radius: 0;
    }
}

.p-steps-item.p-disabled {
    --p-text-muted-color: var(--bs-secondary-color);

    .p-steps-item-number, .p-steps-item-label {
        color: var(--bs-secondary-color) !important;
    }
}

:root {
    --p-steps-item-number-active-background: var(--bs-primary-text-emphasis) !important;
    --p-steps-item-number-active-border-color: var(--bs-primary-text-emphasis) !important;
    --p-steps-item-label-active-color: var(--bs-primary-text-emphasis) !important;
}


// vega

// TODO: use bootstrap classes
.vega-bindings {
    @extend .row;

    .vega-bind {
        @extend .col-md-4;

        .vega-bind-name {
            @extend .form-label;
        }

        select {
            @extend .form-select;
        }

        input[type=range] {
            @extend .form-range;
        }

        input[type=checkbox] {
            @extend .form-check-input;
            @extend .mx-1;
        }
    }
}

// quill

.ql-snow.ql-container {
    font-family: inherit;
    font-size: inherit;
    border: 1px solid var(--bs-border-color);
}

.ql-snow.ql-toolbar {
    border: 1px solid var(--bs-border-color);

    .ql-stroke {
        stroke: var(--bs-body-color);
    }

    .ql-fill {
        fill: var(--bs-body-color);
    }

    .ql-picker {
        color: var(--bs-body-color);
    }

    .ql-picker-options {
        background-color: var(--bs-body-bg);
    }

    button:hover, button:focus,
    button.ql-active,
    .ql-picker-label:hover,
    l-toolbar a.ql-picker-label.dropdown-item:focus,
    a.ql-picker-label.dropdown-item:focus,
    .ql-picker-label.ql-active,
    .ql-picker-item:hover,
    a.ql-picker-item.dropdown-item:focus,
    .ql-picker-item.ql-selected
    {
        color: var(--bs-primary);

        .ql-stroke {
            stroke: var(--bs-primary);
        }
    }
}

// dark mode

// [data-bs-theme="dark"] {
    // tweaks for dark mode

// }

