$uu_yellow: #FFCD00;
$uu_red: #C00A35;

// $tc_primary:  #FFCD00;
$tc_primary: #303F9F;

$entity-person:  #303F9F;
$entity-location: #4e8f2d;
$entity-organization: #efb71d;
$entity-miscellaneous: #ee5986;
