<section class="py-5 container">
    <h1 class="mb-4 block">Your tags</h1>
    <div class="my-3">
        <button class="btn btn-primary" (click)="startCreate()">
            <fa-icon [icon]="actionIcons.add" aria-hidden="true"></fa-icon>
            New tag
        </button>
    </div>

    <div class="row">
    @for (tag of tags$ | async; track tag) {
        <div class="col-md-4">
            <div class="card">
                <header class="card-header">
                    <h2 class="h4 mb-0">
                        {{tag.name}}
                    </h2>
                </header>
                <div class="card-body">
                    <p>{{tag.description || "(no description)"}}</p>
                    @if (tag.count !== undefined && tag.count !== 0) {
                        <details>
                            <summary>
                                Tag used {{tag.count}} times across {{tag.corpus_counts?.length}} corpora.
                            </summary>
                            <table class="table">
                                <tbody>
                                    @for (entry of tag.corpus_counts; track entry) {
                                    <tr>
                                        <td>{{entry.corpus}}</td>
                                        <td>{{entry.count}}</td>
                                        <td>
                                            <a [routerLink]="['/search', entry.corpus]"
                                                [queryParams]="makeQueryParams(entry.corpus, tag)"
                                                aria-label="Open search results for this tag"
                                                ngbTooltip="Open search results for this tag">
                                            <fa-icon [icon]="actionIcons.search" />
                                            </a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </details>
                    } @else {
                        <p>
                            <strong>Tag not used in any corpora.</strong>
                        </p>
                    }
                    <div class="row g-2 mt-3">
                        <div class="col-auto">
                            <button class="btn btn-primary" (click)="startEdit(tag)" (keydown.enter)="startEdit(tag)" role="button" tabindex="0"
                            aria-label="edit tag">Edit</button>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-body"
                                (click)="confirmDelete.open(tag)"
                                role="button" tabindex="0">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
      </div>
    }
    </div>
</section>

<ng-template #editForm>
    <header class="modal-header">
        <h2 class="modal-title">
            {{modalType==='edit' ? 'Edit tag' : 'Create tag'}}
        </h2>
        <button type="button" class="btn-close" aria-label="close"
            (click)="cancelEdit()"></button>
    </header>
    <section class="modal-body">
        @if (editedTag) {
            <form>
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input class="form-control" type="text"
                        [(ngModel)]="editedTag.name" name="name"
                        [class.is-invalid]="!tagValid()">
                    <p class="invalid-feedback">
                        This field is required
                    </p>
                </div>
                <label class="form-label">Description</label>
                <input class="form-control" type="text"
                    [(ngModel)]="editedTag.description" name="description">
            </form>
        }
    </section>
    <footer class="modal-footer">
        <div class="hstack">
            <button class="btn btn-primary" (click)="modalType === 'edit' ?  finishEdit() : finishCreate()"
                [disabled]="!tagValid()">
                <span ><fa-icon [icon]="formIcons.confirm"></fa-icon></span>
                <span>Save</span>
            </button>
            <button class="btn btn-body ms-2" (click)="cancelEdit()">
                <span ><fa-icon [icon]="formIcons.reset"></fa-icon></span>
                <span>Cancel</span></button>
        </div>
    </footer>
</ng-template>

<ia-confirm-modal #confirmDelete actionText="Delete tag" [handleAsync]="handleDelete"
    [icon]="actionIcons.delete" actionButtonClass="btn-danger">
    <p>
      Are you sure you want to delete your tag
      <strong>{{confirmDelete.data?.name}}</strong>?
    </p>
</ia-confirm-modal>
