<div class="tabs is-boxed block">
  <ul role="tablist" aria-label="select content to display">
    @for (tab of tabs; track tab) {
      <li
        role="tab"
        #tabLink [id]="tab.elementId"
        [attr.tabindex]="activeTab === tab.id ? 0 : -1"
        [class.is-active]="activeTab === tab.id"
        [attr.aria-selected]="activeTab === tab.id"
        [attr.aria-controls]="tab.id | slugify"
        (click)="selectTab(tab)"
        (keydown.ArrowLeft)="cycleTab($event)"
        (keydown.ArrowRight)="cycleTab($event)">
        <a role="none">
          @if (tab.icon) {
            <span class="icon">
              <fa-icon [icon]="tab.icon" aria-hidden="true" />
            </span>
          }
          <span>{{tab.label}}</span>
        </a>
      </li>
    }
  </ul>
</div>

@for (panel of tabPanels; track panel) {
  <div [attr.id]="panel.id | slugify"
    role="tabpanel" tabindex="-1" [hidden]="panel.id !== activeTab">
    @if (panel.id === activeTab) {
      <ng-container [ngTemplateOutlet]="panel.templateRef">
      </ng-container>
    }
  </div>
}
