@if (showDialog) {
  <p-dialog [(visible)]="showDialog" positionTop="50" width="800"
    [header]="title" [modal]="true">
    <div class="content container"[ngClass]="{'is-loading':isLoading}" [innerHTML]="innerHtml"></div>
    @if (!isLoading && footerButtonLabel) {
      <ng-template #footer>
        <a [routerLink]="footerRouterLink" autofocus tabindex="0">
          <span  aria-hidden="true">
            <fa-icon [icon]="navIcons.manual"></fa-icon>
          </span>
          <span>{{footerButtonLabel}}</span>
        </a>
      </ng-template>
    }
  </p-dialog>
}
