<ng-template #modalTemplate>
    <div class="modal-header">
        <h1 class="modal-title h4" id="dialog-title">{{ title }}</h1>
        <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="close()"
        ></button>
    </div>
    <div class="modal-body">
        <div
            class="content container"
            [iaLoading]="isLoading"
            [innerHTML]="innerHtml"
        ></div>
    </div>
    @if (!isLoading && footerDetails) {
        <div class="modal-footer">
            <a
                [routerLink]="footerDetails.link"
                (click)="close()"
                tabindex="0"
                autofocus
            >
                <span aria-hidden="true">
                    <fa-icon [icon]="navIcons.manual"></fa-icon>
                </span>
                <span>{{ footerDetails.label }}</span>
            </a>
        </div>
    }
</ng-template>
