<ng-template #content>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">
            {{actionText}}?
        </h4>
        @if (!disableCloseButton) {
        <button type="button" class="btn-close" aria-label="Close" (click)="cancel()"></button>
        }
    </div>
    <div class="modal-body">
        <ng-content></ng-content>
    </div>
    <div class="modal-footer">
        @let data = confirmAction$ | async;
        <button class="btn" (click)="confirm(data)"
            [class]="actionButtonClass || 'btn-body'"
            [iaButtonLoading]="loading$ | async">
            @if (icon) {<fa-icon [icon]="icon" />}
            {{actionText}}
        </button>
        <button class="btn btn-body" (click)="cancel()">
            Cancel
        </button>
    </div>
</ng-template>
