<div [class.d-none]="asTable">
    <div class="my-3">
        <fieldset class="field">
            <legend class="form-label fs-6">Show as:</legend>
            @for (style of graphStyles; track style) {
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                        name="graph-style"
                        id="input-graph-style-{{style}}"
                        [value]="style"
                        [checked]="graphStyle.value === style"
                        (click)="graphStyle.next(style)">
                    <label class="form-check-label"
                        for="input-graph-style-{{style}}">
                        {{style | titlecase}}
                    </label>
                </div>
            }
    </fieldset>
    @if (graphStyle.value==='bar') {
      <div class="my-4">
          <label class="form-label">Time interval:</label>
          <ia-time-interval-slider [labels]="timeIntervals" (currentIndex)="zoomTimeInterval($event)"></ia-time-interval-slider>
      </div>
    }
  </div>

  <canvas id="chart"></canvas>
</div>

@if (asTable && terms.length) {
  <div class="my-3">
    <ia-freqtable  [headers]="tableHeaders" [data]="tableData" [defaultSort]="'similarity'" [name]="tableFileName">
    </ia-freqtable>
  </div>
}
