<form>
  <div class="row my-4">
    <fieldset class="col-md">
        <legend class="form-label fs-6">Normalization</legend>
        <div (change)="onChartParametersChange()">
            <div class="form-check form-check-inline"
                ngbTooltip="Number of {{frequencyMeasure === 'documents' ? 'documents' : 'observations of the search term'}}">
                <input class="form-check-input"
                    id="input-normalizer-none"
                    type="radio" name="normalizer"
                    (click)="currentNormalizer='raw'"
                    [checked]="currentNormalizer==='raw'">
                <label class="form-check-label"
                    for="input-normalizer-none">
                    None
                </label>
            </div>
          @if (frequencyMeasure==='documents') {
            <div class="form-check form-check-inline"
                ngbTooltip="Divide by the total number of documents">
                <input type="radio" name="normalizer"
                    class="form-check-input"
                    id="input-normalizer-percentage"
                    (click)="currentNormalizer='percent'"
                    [checked]="currentNormalizer==='percent'">
                <label class="form-check-label"
                    for="input-normalizer-percentage">
                    Percentage
                </label>
            </div>
          }
          @if (frequencyMeasure==='tokens') {
            <div class="form-check form-check-inline"
                ngbTooltip="Divide by the total documents in each bin">
                <input type="radio" name="normalizer"
                    id="input-normalizer-documents"
                    (click)="currentNormalizer='documents'"
                    [checked]="currentNormalizer==='documents'">
                <label class="form-check-label"
                    for="input-normalizer-documents">
                    Documents
                </label>
            </div>
            @if (showTokenCountOption) {
                <div class="form-check form-check-inline"
                    ngbTooltip="Divide by the total word count in each bin">
                    <input type="radio" name="normalizer"
                        id="input-normalizer-terms"
                        (click)="currentNormalizer='terms'"
                        [checked]="currentNormalizer==='terms'">
                    <label class="form-check-label"
                        for="input-normalizer-terms">
                        Terms
                    </label>
                </div>
            }
          }
      </div>
    </fieldset>
    @if (!freqTable) {
        <fieldset class="col-md">
            <legend class="form-label fs-6">Chart Type</legend>
            <div (change)="onChartParametersChange()">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                        id="input-chartype-bar"
                        name="chartType"
                        (click)="currentChartType='bar'" [checked]="currentChartType==='bar'">
                    <label class="form-check-label"
                        for="input-chartype-bar">
                        Bar
                    </label>
                </div>
                @if (!histogram) {
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio"
                            id="input-chartype-line"
                            name="chartType"
                            (click)="currentChartType='line'" [checked]="currentChartType==='line'">
                        <label class="form-check-label"
                            for="input-chartype-line">
                            Line
                        </label>
                    </div>
                }

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                        id="input-chartype-scatter"
                        name="chartType"
                        (click)="currentChartType='scatter'" [checked]="currentChartType==='scatter'">
                    <label class="form-check-label"
                        for="input-chartype-scatter">
                        Scatter
                    </label>
                </div>
            </div>
        </fieldset>
    }
  </div>

    <div class="my-4">
        @if (!showEdit) {
            <button class="btn btn-body" (click)="showEdit = true">
                Compare with another query...
            </button>
        } @else {
            <ia-term-comparison-editor />
        }
    </div>
</form>
